*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    background: linear-gradient(90deg, #f469c1 50%,#47044b 50%);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: #efc7e7;
    width: 90%;
    height: 90vh;
}
.navbar .logo{
    width:60px;
    height:60px;
    background-color: transparent;
    border: 3px solid purple;
    border-radius:50px;
    border-right-color: transparent;
    position:relative;
}
.navbar .logo::before{
    content:"Suditi";
    color:black; 
    font-size: 30px;
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-10%,-50%);
    font-family:'Times New Roman', Times, serif
}
.navbar{
    /* background-color: yellow; */
    width:90%;
    margin:auto;
    height:15vh;
    
}
.navbar , .navlist {
    display:flex;
    align-items: center;
    justify-content:space-between;
    
    
}
.navlist li{
    list-style: none;
    padding: 20px;
}
.navlist a{
    color:#060008;
    font-size:18px;
    text-decoration: none;
    position:relative;
}
.navlist a::before{
   
    content:"";
    top: calc(100% + 3px);
    display: block;
    position: absolute;
    left: 0px;
    width:0px;
    height:3px;
    background-color:#060008;
    transition: .5s;
    
}
.navlist a:hover::before{
    width:100%;
   
}
.hero{
    
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px;
}
.hero img{
    width:45vw;
}
.content{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    border-left: 4px solid purple;
    padding:20px 50px;

}
.content h3{
    color:#f334b9;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.content h1{
    color:#47044b;
    font-size:40px;
}
.content p{
    color:black;
    font-size: 18px;
    line-height: 30px;
}
.content button{
    padding:15px 30px;
    font-size:18px;
    color:white;
    border:none;
    background-color: #47044b;
    cursor:pointer;
}
.content button:hover{
    background-color: #ee89c9;
    color:#47044b
}